body{
    background-image: url('bckgrnd.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    height: 100vh; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.install-button {
    height: 100px;
    width: 200px;
    border: 3px solid black;
}
.install-button:hover {
    background-color: lightblue;
    cursor: pointer;
}
.install-button:active {
    background-color: blue;
    color: white;
    box-shadow:
    0 0 0 2px #fff,
    0 0 15px 5px #0051ff;

}
